<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <form [formGroup]="loginForm" (submit)="login()" class="form"> 
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password" placeholder="********">
                </div>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto">
                     <button class="btn btn-primary" type="submit">Login</button>
                  </div>
            </form>
        </div>
    </div>
</div>